#profile-picture { width: 400px;
    height: auto;

    display: block;
    margin: 0 auto;
}

#skills > .row > h4 {
    padding-left: 50px;
}

.container > .row {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container > .col {
    margin: 0;
}

#skills> .row > .col > img {
    width: 150px;
    height: 150px;

    display: block;
    margin: 0 auto;
}

.container > .row > .col > h6 {
    text-align: center;
}

#resume {
    padding-left: 50px;
}

#resume > .row > h4 {
    padding-bottom: 5px;
}
