nav {
    background-color: #3F51B5;
}

.container {
    width: 100%;
    max-width: initial;
}

.container:nth-child(odd) {
    background-color: #e0e0e0;
}

.container:nth-child(even) {
    background-color: #FFFFFF;
}

#personal-logo {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

.brand-logo {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;

}

#nav-browser > li {
    width: 100px;
}

#nav-browser > li > a {
    text-align: center;
}

#nav-mobile > li {
    width: 100px;
}

#nav-mobile > li > a {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer-copyright > .container {
    font-size: large;
    width: 100%;
    height: 50px;
    background: #FF4081;
    padding-left: 50px;
}
